html
{
    scroll-behavior: smooth;
}
@charset "utf-8";
	.st0
{
	border-style : Solid;
	border-color : #F15F22;
	border-color : rgba(241, 95, 34, 1);
	border-width : 0px;
}
.st1
{
	border-style : Solid;
	border-color : #F15F22;
	border-color : rgba(241, 95, 34, 1);
	border-width : 0px;
}
.st2
{
	border-style : Solid;
	border-color : #F15F22;
	border-color : rgba(241, 95, 34, 1);
	border-width : 0px;
}
.st3
{
	border-style : Solid;
	border-color : #F15F22;
	border-color : rgba(241, 95, 34, 1);
	border-width : 0px;
}
.st4
{
	border-style : Solid;
	border-color : #F15F22;
	border-color : rgba(241, 95, 34, 1);
	border-width : 0px;
}
